/*CARACTERISTICAS GERAIS*/
body { 
    font-family: 'Inter', sans-serif;
  }
  :root {
    --black: #000000;
    --gray-bg:#111111;
    --gray-components:#181818;
    --gray-light:#CCCCCC; 
  
    --gray-text:#868686;
    --gray-box:#3c3c3c;
    --white-text: #FFFFFF;
    color: var(--gray);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .artistPage{ /*APLICATIVO GERAL*/
    background-color: var(--gray-bg);
  }
  
  .left-container{ /*BARRA LATERAL*/
    width: 263px;
    height: 909px;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    position: absolute;
    align-items:flex-start;
  }
  .title{
    color: var(--gray-light);
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
    margin-top: 85px;
    margin-left: 37px;
  }
  .artist-btn{ /*BOTÃO "ARTISTAS" */
    position: absolute;
    margin-top: 160px;
    margin-left: 86px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--gray-light);
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
  }
  .artist-btn:hover{color: white;}
  
  .like-btn{ /*BOTÃO "MÚSICAS CURTIDAS" */
    position: absolute;
    margin-top: 204px;
    margin-left: 27px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--gray-light);
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
  }

  .like-btn a{
    text-decoration: none;
    color: var(--gray-light);
  }

  .like-btn:hover{
    color: white;
  }

  .like-btn a:hover{
    color: white;
  }
  
  .logout-btn{ /*LOGOUT" */
    position: absolute;
    margin-top: 865px;
    margin-left: 65px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--gray-light);
    font-weight: 700;
    font-size: 20px;
    line-height: 24.2px;
  }
  .logout-btn:hover{color: white;}
  
  .main-container{ /*AREA PRINCIPAL*/ 
    display: flex;
    flex-direction: column;
    padding-left: 321px;
    padding-top: 124px;
    color: var(--gray-light);
  }
  .artists-container{ /*AREA COM OS ARTISTAS*/
    box-sizing: border-box;
    /* width: 966px; */
    height: 602px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
  }
  .comp{ /*AREA DE COMPONENTES SEPARADA ENTRE BAIXO E EM CIMA*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
  }
  