/*CARACTERISTICAS GERAIS*/
body { 
    font-family: 'Inter', sans-serif;
  }
  :root {
    --black: #000000;
    --gray-bg:#111111;
    --gray-components:#181818;
    --gray-light:#CCCCCC; 
  
    --gray-text:#868686;
    --gray-box:#3c3c3c;
    --white-text: #FFFFFF;
    color: var(--gray);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .artistPage{ /*APLICATIVO GERAL*/
    background-color: var(--gray-bg);
  }
  
  .main-container-artist{ /*AREA PRINCIPAL*/ 
    display: flex;
    flex-direction: column;
    padding-left: 321px;
    padding-top: 124px;
    color: var(--gray-light);
    height: 909px;
  }
  .artists-container{ /*AREA COM OS ARTISTAS*/
    box-sizing: border-box;
    /* width: 966px; */
    height: 602px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
  }
  .comp{ /*AREA DE COMPONENTES SEPARADA ENTRE BAIXO E EM CIMA*/
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
  }
  