/*CARACTERISTICAS GERAIS*/
body { 
    font-family: 'Inter', sans-serif;
  }
  :root {
    --gray-text:#868686;
    --gray-components:#181818;
    --gray-bg:#111111;
    --green:#3FE168;
    --white-text: #FFFFFF;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .myAccountPage{ 
    height: 909px;
    background-color: var(--gray-bg);
    display:flex;
    flex-direction: column;
    align-items:center;
    color: var(--white-text);
    margin-left: 115px;
}

.myAccount{
    margin-top: 286px;
    width: 412px;
    font-weight: 700;
    size: 40px;
    line-height: 48.41px;
    text-align: center;
}

input{
    height: 46px;
    width: 454px;
    background-color: var(--gray-components);
    margin-top: 29px;
    border: none;
    color: var(--gray-text);
    padding: 10px;
}

.BtnEmail{
    width: 240px;
    height: 45px;
    border-radius:  30px;
    background-color: var(--green);
    color: var(--white-text);
    border:none;
    line-height: 19.36px;
    size: 16px;
    font-weight: 700;
    margin-top: 42px;
    cursor: pointer;
}

.BtnPassword{
    width: 240px;
    height: 45px;
    border-radius:  30px;
    background-color: var(--green);
    color: var(--white-text);
    border:none;
    line-height: 19.36px;
    size: 16px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}

