#card-container{ 
    background-color: var(--gray-components);
    /* width: 186px; */
    width: 100%;
    height: 280px;
    border-radius: 16px;
    border:none;
    cursor: pointer;
  }

#card-container:hover{
    background-color: #cccccc28;
}

#artist-image{
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    height: 50%;
    object-fit: cover;
}

#artist-name{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 10%; /*esta porcentagem é em relação à largura do container*/
}


#Artista{
    font-weight: 700;
    font-size: 15px;
    color: #8C8C8C;
    margin-left: 5%;
    margin-top: 10%; /*esta porcentagem é em relação à largura do container*/
}


