body { 
    font-family: 'Inter', sans-serif;
  }

:root {
    --red: #E42D2D;
    --gray-text:#868686;
    --gray-components:#3c3c3c;
    --white-text: #FFFFFF;
    --green:#3FE168;
    color: var(--gray-text);
}
  
.Modal-Password{ /*JANELA GERAL*/
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color: var(--white-text);
    margin-top: 29px;
}

#NewPassword{ /*TITULO*/
    width: 412px;
    font-weight: 700;
    size: 40px;
    line-height: 48.41px;
    text-align: center;
}

input{ /*LOCAL DE INSERIR NOVA SENHA*/
    height: 46px;
    width: 454px;
    background-color: var(--gray-components);
    margin-top: 29px;
    border: none;
    color: var(--gray-text);
    padding: 10px;
}

.Confirm{ /*BOTAO DE CONFIRMAR*/
    width: 150px;
    height: 45px;
    border-radius:  30px;
    background-color: var(--green);
    color: var(--white-text);
    border:none;
    line-height: 19.36px;
    size: 16px;
    font-weight: 700;
    margin-top: 42px;
    cursor: pointer;
}
.Cancel{ /*BOTAO DE CANCELAR*/
    width: 150px;
    height: 45px;
    border-radius:  30px;
    background-color: var(--red);
    color: var(--white-text);
    border:none;
    line-height: 19.36px;
    size: 16px;
    font-weight: 700;
    margin-top: 42px;
    cursor: pointer;
    margin-right: 23px;
}


#icons{ /*ICONE DA SENHA*/
    margin-left: -50px;
    background-color: #3c3c3c00;
}

#password-message{
    margin-top: 20px;
}